# NPM generated stuff
*.tgz
node_modules/
# TSC generated stuff
dist/
types/
*.js
*.map
*.d.ts
# Lockfiles (for people using alternative package managers)
*lock*
!package-lock.json
# Generated documentation
docs/api/
# Hidden folders
.*/
!.github/