# Node.js packages
*.tgz
# TypeScript build configuration
*tsconfig*.json
# Any kind of lock files
*lock*
# Documentation (if available)
docs/
# Non-library code
example/
tests/
# Hidden files and folders
.*